<nav class="navbar navbar-expand-lg bg-white border-bottom sticky-top">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand fw-bold" href="{% url 'social:feed' %}">UniSocial</a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav" 
            aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div id="nav" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item  "><a class="nav-link  " href="{% url 'social:feed' %}">  New_Feed </a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'social:notifications' %}">Notifications <i class="fa-regular fa-bell"></i>
</a></li>
      </ul>

      <!-- Right side -->
      {% if request.user.is_authenticated %}
        <div class="d-flex align-items-center gap-3">
          <a class="btn btn-sm btn-primary" href="{% url 'social:post-create' %}"> <i class="fa-regular fa-square-plus"></i> New Post</a>
          <a class="text-decoration-none fw-semibold btn btn-primary btn-sm" href="{% url 'social:profile-detail' request.user.id %}">
           <i class="fa-solid fa-user"></i>
            Profile
          </a>
          <form method="post" action="{% url 'account:logout' %}">
          {% csrf_token %}
          <button type="submit" class=" btn btn-outline-primary btn-sm "><i class="fa-solid fa-right-from-bracket"></i> Log out</button>
        </form>

          
        </div>
      {% else %}
      {% comment %}
        <div class="d-flex align-items-center gap-2">
          <a class="btn btn-sm btn-primary" href="{% url 'login' %}">Login</a>
          <a class="btn btn-sm btn-outline-primary" href="{% url 'social:register' %}">Register</a>
        </div>
      {% endcomment %}
      {% endif %}
    </div>
  </div>
</nav>
